In [1]:
from plr import slope
from plr import intercept
from plr import predict

import pandas as pd
test = pd.read_csv("https://raw.githubusercontent.com/ThomasJewson/datasets/master/AAPL-MSFT-ClosePrice2010-2020.csv")

In [2]:
slope(test)

            AAPL close  MSFT close
AAPL close    1.000000    1.594331
MSFT close    0.591746    1.000000

In [3]:
intercept(test)

            AAPL close  MSFT close
AAPL close    0.000000    23.12304
MSFT close   -9.982851     0.00000

In [9]:
predict(test,["AAPL close","MSFT close"],160)

            AAPL close  MSFT close
AAPL close  160.000000  278.215954
MSFT close   84.696517  160.000000